h1{
  color: #000;
}

.container{
  background-color: #E2E2E2;
  padding-bottom: 30px;
  font-family: sans-serif;
}

header{
  width: 500px;
  background: #FFFFFF;
  margin: auto;
  text-align: center;
}

.branding{
  font-size: 20px;
    margin: 2px;
}
.box{
  width: 500px;
  height: 30px;
  background: pink;
  margin: auto;
  text-align: center;
  border: 1px solid;
  padding-bottom: 20px;
}
