h1{
  color: #E2E2E2;
}

.container{
  background-color: #E2E2E2;
  padding-bottom: 30px;
}
.header{
  width: 500px;
  background: blue;
  margin:auto;
  text-align: left;
}
.box{
  width: 500px;
  height: 30px;
  background: pink;
  margin: auto;
  text-align: center;
  border: 1px solid;
  padding-bottom: 20px;
}
